body{
    background-color: forestgreen;
}

.site-header{
    height: 100px;
    width: 1272px;
    background-color: red;
    margin-left: 0px;

}

#catopedia {
    margin: 0;
}

p {
    margin: 0;
}

